@import "tailwindcss";

[data-theme="light"] {
  --color-light: #FFFDD0;
  --color-dark: #1B1B1B;
  --bg-gradient-value: linear-gradient(145deg, #e6e4bb, #ffffdf);
  --shadow-neumorph-value: 16px 16px 32px #d9d7b1, -16px -16px 32px #ffffef;
  --shadow-inset-value: inset 16px 16px 32px #ffffef, inset -16px -16px 32px #d9d7b1;
  scrollbar-width: thin;
  scrollbar-color: #bebd9b transparent;
  color: var(--color-dark);
  background-color: var(--color-light);
}

[data-theme="dark"] {
  --color-light: #FFFDD0;
  --color-dark: #1B1B1B;
  --color-gradient-value: linear-gradient(145deg, #181818, #1d1d1d);
  --shadow-neumorph-value: 16px 16px 32px #0D0D0D, -16px -16px 32px #171717;
  --shadow-inset-value: inset 16px 16px 32px #171717, inset -16px -16px 32px #0D0D0D;
  scrollbar-width: thin;
  scrollbar-color: #2e2e2e transparent;
  color: var(--color-light);
  background-color: var(--color-dark);
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Quicksand_Book.otf") format("opentype");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Quicksand_Bold.otf") format("opentype");
}

@font-face {
  font-family: "Goudy";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Goudy.otf") format("opentype");
}

@theme {
  --font-heading: "Goudy", serif;
  --font-body: "Quicksand", sans-serif;
  --shadow-neumorph: var(--shadow-neumorph-value);
  --shadow-neumorph-inset: var(--shadow-inset-value);
  --color-neumorph-gradient: var(--color-gradient-value);
}

/* Custom Scrollbar */
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}